* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}



body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--paragraph-font);
    font-size: var(--paragraph-font-size);
    background-color: var(--body-color);
    overflow-x: hidden;
}

h1, h2 {
    font-weight: var(--font-bold);
    color: var(--title-color);
}

p {
    color: var(--paragraph-color);
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}


