.about {
    &__container {
        position: absolute;
        width: 1248px;
        height: 647px;
        left: 240px;
        top: 237px; 
    }

    &__title {
        width: 645px;
        height: 184px;
        left: 240px;
        top: 237px;
        line-height: 110%;
        font-weight: var(--font-bold);
        font-size: var(--h1-font-size);
        margin-bottom: var(--mb-10);
    }

    &__description {
        width: 380px;
        height: 120px;
        left: 240px;
        top: 471px;
        line-height: 160%;
        color: var(--paragraph-color);
        font-size: var(--paragraph-font-size);
        font-weight: var(--font-light);
        margin-bottom: var(--mb-20);
    }

    &__btn {
        position: absolute;
        width: 170px;
        height: 60px;
        color: white;
        background-color: var(--primary-color);
        border-radius: 50px;
        border-color: transparent;
    }

        &__img {
        position: absolute;
        max-width: 885px;
        // width: 100vh;
        height: 468px;
        left: 363px;
        top: 96px;
    }

}



