.about-details {

    &__container {
    background-color: var(--secondary-color-lighten);
    position: absolute;
    width: 1200px;
    height: 520px;
    left: 100px;
    top: 903.18px;
    border-radius: 50px;
    }



&__img {
    position: absolute;
    width: 477px;
    height: 504px;
}

&__title {
    position: absolute;
    width: 475px;
    height: 100px;
    left: 600px;
    top: 120px;
    font-family: var(--title-font);
    font-weight: var(--font-bold);
    font-size: var(--h2-font-size);
}

&__paragraph {
    position: absolute;
    width: 474px;
    height: 170px;
    left: 600px;
    top: 250px;
    font-family: var(--paragraph-font);
    font-weight: var(--font-semibold);
    font-size: var(--paragraph-font-size);
}

}