.features {
    &__container {
        position: absolute;
        width: 1137.28px;
        height: 1026px;
        left: 220px;
        top: 1613px;   
    }

    &__intro {
        position: absolute;
        width: 584px;
        height: 160px;
        left: 287.29px;
        top: 0px;
    }

    &__title {
        position: absolute;
        width: 405px;
        height: 52px;
        left: 89px;
        font-family: var(--title-font);
        font-weight: var(--font-bold);
        font-size: var(--h2-font-size);
        line-height: 130%;
        text-align: center;
    }

    &__desc {
        position: absolute;
        width: 584px;
        height: 58px;
        top: 102px;
        font-family: var(--paragraph-font);
        font-weight: var(--font-semibold);
        font-size: var(--paragraph-font-size);
        line-height: 160%;
        text-align: center;
    }

    &__item {
        width: 442px;
        height: 358px;
        top: 260px;
        z-index: -1;
    

    &.item1 {
        position: relative;
        left: 328.29px;
    }
        
        &:before {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            top: 0;
            left: 0;
            background: rgba(104, 201, 186, 0.2);
            transform: perspective(17px) rotateX(1deg) translate(-50%, -40px);
            border-radius: 50px;
        }

        &-vector56 {
            position: absolute;
            width: 203.82px;
            height: 118.6px;
            left: 12.01px;
            top: 10px;
        }

        &-ellipse61 {
            position: absolute;
            width: 33.7px;
            height: 19.91px;
            left: 73.03px;
            top: 38.88px;
            border-radius: 100px / 50px;
            border: 1.5px solid #fff;
            transform: rotate(20.72deg);
        }

        &-img {
            position: absolute;
            width: 232px;
            height: 211px;
            left: -299.29px;
            top: 73px;
            z-index: 1;
        }

        &-title {
            position: absolute;
            width: 200px;
            height: 50px;
            left: -29.29px;
            top: 49px;
            font-family: var(--title-font);
            font-weight: var(--font-light);
            font-size: var(--h3-font-size);
            line-height: 130%;  
        }

        &-text{
            position: absolute;
            width: 220px;
            height: 160px;
            left: -29.29px;
            top: 119px;
            font-family: var(--paragraph-font);
            font-weight: var(--font-light);
            font-size: var(--h4-font-size);
            line-height: 160%;
        }


        &-btn {
            position: absolute;
            height: 26px;
            left: -29.29px;
            top: 299px;
            border: transparent;
            background: transparent;
            font-family: var(--paragraph-font);
            font-weight: var(--font-bold);
            font-size: var(--h4-font-size);
        }

    &.item2 {
        position: absolute;
        left: 915.28px;
       
     
        &:before {
            background: rgba(156, 105, 226, 0.1);
            border-radius: 20px;
        }

        .vector56 {
            top: 193px;
            left: 0.44px;
            transform: rotate(185deg); 
        }

        .img {
            width: 241px;
            height: 185px;
            left: -303.28px;
            top: 71px;
        }
    }


    &.item3 {
        position: relative;
        left: 328.29px;
        top: 310px;

        &:before {
            background: rgba(240, 99, 184, 0.1);
        }

        .ellipse61 {
            width: 68.05px;
            height: 40.21px;
            transform: rotate(150deg);  
        }
    

        .img {
            position: absolute;
            width: 241px;
            height: 185px;
            left: -305.29px;
            top: 123px;
        }


    }


    &.item4 {
        position: absolute;
        left: 915.28px;
        top: 668px;
        
    
        &:before {
            background: rgba(45, 156, 219, 0.1);
            border-radius: 20px;
        }

        .vector56 {
            top: 30px;
            left: -64.72px;
            transform: rotate(135deg);
        }
        
       .ellipse61 {
            width: 61.85px;
            height: 36.55px;
            top: 278px;
            transform: rotate(20.72deg); 
       }

        .img {
            position: absolute;
            width: 241px;
            height: 185px;
            left: -309.28px;
            top: 86px;
        }
    }
}


}






