.header {
    position: absolute;
    width: 1120px;
    height: 60px;
    top: 47px;
    left: 240px;
   
    
}

.nav {
    height: var(--header-height);
    display: flex;
    align-items: center;
    
}

.nav-menu {
    // display: flex;
    // align-items: center;


    &__item {
        display: inline;
        font-size: var(--h4-font-size);
        margin-left: var(--mb-20);
        margin-right: var(--mb-20);
        cursor: pointer;

    }

   &__button {
       position: absolute;
       width: 180px;
       height: 50px;
       left: 800px;
       top: 3px;
       background: var(--body-color);
       box-shadow: 0px 5px 5px
            rgba(75, 93, 104, 0.1);
       border-radius: 50px;
       border-color: transparent;
       
    
   }

}

.arrow {
    display: inline-block;
    margin-left: var(--mb-10);
    
}

.logo {
    margin-right: var(--mb-20);
}

.active-link {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        background-color: var(--title-color);
        border-radius: 50%;
    }
}

