* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--paragraph-font);
  font-size: var(--paragraph-font-size);
  background-color: var(--body-color);
  overflow-x: hidden;
}

h1, h2 {
  font-weight: var(--font-bold);
  color: var(--title-color);
}

p {
  color: var(--paragraph-color);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

.header {
  position: absolute;
  width: 1120px;
  height: 60px;
  left: 240px;
  top: 47px;
}

.header__wrapper {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: var(--mb-20);
  width: 49px;
  height: 35px;
  left: 240px;
  top: 59px;
}

.nav {
  display: flex;
  align-items: center;
  padding-left: 121px;
}
.nav__item {
  color: var(--paragraph-color);
  font-size: var(--h4-font-size);
  padding-left: var(--mb-20);
  padding-right: var(--mb-20);
  margin: 0;
  cursor: pointer;
}
.nav__item--active {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

.demo {
  display: flex;
  align-items: center;
}
.demo__button {
  position: absolute;
  width: 210px;
  height: 60px;
  left: 1000px;
  font-size: var(--h4-font-size);
  background: var(--body-color);
  color: var(--title-color);
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  border-color: transparent;
}
.demo__arrow {
  width: 20px;
  display: inline-block;
  margin-left: var(--mb-10);
  vertical-align: 2px;
}
.demo__right-line {
  width: 20px;
  border: solid #9C69E2;
  border-width: 0 2px 2px 0;
  height: 0px;
  float: left;
  margin-top: 10px;
}
.demo__right-point {
  transform: rotate(-45deg);
  border: solid #9C69E2;
  border-width: 0 2px 2px 0;
  padding: 3px;
  float: right;
  margin-top: -5px;
}

.about__container {
  position: absolute;
  width: 645px;
  height: 464px;
  left: 240px;
  top: 237px;
}
.about__title {
  width: 645px;
  height: 184px;
  left: 240px;
  top: 237px;
  line-height: 110%;
  font-weight: var(--font-bold);
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-10);
}
.about__description {
  width: 380px;
  height: 120px;
  left: 240px;
  top: 471px;
  line-height: 160%;
  color: var(--paragraph-color);
  font-size: var(--paragraph-font-size);
  font-weight: var(--font-light);
  margin-bottom: var(--mb-20);
}
.about__btn {
  position: absolute;
  width: 170px;
  height: 60px;
  color: white;
  background-color: var(--primary-color);
  border-radius: 50px;
  border-color: transparent;
}
.about__img {
  position: absolute;
  max-width: 885px;
  height: 468px;
  left: 603px;
  top: 333px;
}

.details__container {
  background-color: var(--secondary-color-lighten);
  position: absolute;
  width: 1117px;
  height: 560px;
  left: 240px;
  top: 903.18px;
  border-radius: 50px;
}
.details__picture {
  position: absolute;
  width: 477px;
  height: 504px;
  top: 31.82px;
  left: 11px;
}
.details__title {
  position: absolute;
  width: 475px;
  height: 100px;
  left: 550px;
  top: 125px;
  font-family: var(--title-font);
  font-weight: var(--font-bold);
  font-size: var(--h2-font-size);
  line-height: 130%;
}
.details__paragraph {
  position: absolute;
  width: 474px;
  height: 170px;
  left: 550px;
  top: 265px;
  font-family: var(--paragraph-font);
  font-weight: var(--font-semibold);
  font-size: var(--paragraph-font-size);
}

.features__container {
  position: absolute;
  width: 1137.28px;
  height: 1026px;
  left: 220px;
  top: 1613px;
}
.features__intro {
  position: absolute;
  width: 584px;
  height: 160px;
  left: 287.29px;
  top: 0px;
}
.features__title {
  position: absolute;
  width: 405px;
  height: 52px;
  left: 89px;
  font-family: var(--title-font);
  font-weight: var(--font-bold);
  font-size: var(--h2-font-size);
  line-height: 130%;
  text-align: center;
}
.features__desc {
  position: absolute;
  width: 584px;
  height: 58px;
  top: 102px;
  font-family: var(--paragraph-font);
  font-weight: var(--font-semibold);
  font-size: var(--paragraph-font-size);
  line-height: 160%;
  text-align: center;
}
.features__item1, .features__item4:before, .features__item3:before, .features__item2:before {
  position: relative;
  left: 328.29px;
  top: 260px;
  width: 442px;
  height: 358px;
  z-index: -1;
}
.features__item1:before, .features__item4:before, .features__item3:before, .features__item2:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  background: rgba(104, 201, 186, 0.2);
  transform: perspective(17px) rotateX(1deg) translate(-50%, -40px);
  border-radius: 50px;
}
.features__item1-vector56, .features__item4-vector56, .features__item2-vector56 {
  position: absolute;
  width: 203.82px;
  height: 118.6px;
  left: 25px;
  top: 10px;
}
.features__item1-ellipse61, .features__item4-ellipse61, .features__item3-ellipse61 {
  position: absolute;
  width: 33.7px;
  height: 19.91px;
  left: 84.07px;
  top: 38.88px;
  border-radius: 100px/50px;
  border: 1.5px solid #fff;
  transform: rotate(20.72deg);
}
.features__item1-img {
  position: absolute;
  width: 232px;
  height: 211px;
  left: -299.29px;
  top: 73px;
  z-index: 1;
}
.features__item1-title, .features__item4-title, .features__item3-title, .features__item2-title {
  position: absolute;
  width: 200px;
  height: 50px;
  left: -29.29px;
  top: 49px;
  font-family: var(--title-font);
  font-weight: var(--font-light);
  font-size: var(--h3-font-size);
  line-height: 130%;
}
.features__item1-text, .features__item4-text, .features__item3-text, .features__item2-text {
  position: absolute;
  width: 220px;
  height: 160px;
  left: -29.29px;
  top: 119px;
  font-family: var(--paragraph-font);
  font-weight: var(--font-light);
  font-size: var(--h4-font-size);
  line-height: 160%;
}
.features__item1-btn, .features__item4-btn, .features__item3-btn, .features__item2-btn {
  position: absolute;
  height: 26px;
  left: -29.29px;
  top: 299px;
  border: transparent;
  background: transparent;
  font-family: var(--paragraph-font);
  font-weight: var(--font-bold);
  font-size: var(--h4-font-size);
}
.features__item2 {
  position: absolute;
  width: 442px;
  height: 358px;
  left: 915.28px;
  top: 260px;
  z-index: -1;
}
.features__item2:before {
  background: rgba(156, 105, 226, 0.1);
  border-radius: 20px;
}
.features__item2-vector56 {
  top: 193px;
  left: 0.44px;
  transform: rotate(185deg);
}
.features__item2-img {
  position: absolute;
  width: 241px;
  height: 185px;
  left: -303.28px;
  top: 71px;
  z-index: 1;
}
.features__item2-title {
  left: -33.28px;
}
.features__item2-text {
  left: -33.29px;
}
.features__item2-btn {
  left: -33.29px;
}
.features__item3 {
  position: relative;
  width: 442px;
  height: 358px;
  left: 328.29px;
  top: 310px;
}
.features__item3:before {
  background: rgba(240, 99, 184, 0.1);
  border-radius: 50px;
}
.features__item3-ellipse61 {
  width: 68.05px;
  height: 40.21px;
  transform: rotate(150deg);
}
.features__item3-img {
  position: absolute;
  width: 241px;
  height: 185px;
  left: -305.29px;
  top: 123px;
}
.features__item3-title {
  left: -35.29px;
}
.features__item3-text {
  left: -35.29px;
}
.features__item3-btn {
  left: -35.29px;
}
.features__item4 {
  position: absolute;
  width: 442px;
  height: 358px;
  left: 915.28px;
  top: 668px;
}
.features__item4:before {
  background: rgba(45, 156, 219, 0.1);
  border-radius: 20px;
}
.features__item4-vector56 {
  top: 30px;
  left: -64.72px;
  transform: rotate(135deg);
}
.features__item4-ellipse61 {
  width: 61.85px;
  height: 36.55px;
  top: 278px;
  transform: rotate(20.72deg);
}
.features__item4-img {
  position: absolute;
  width: 241px;
  height: 185px;
  left: -309.28px;
  top: 86px;
}
.features__item4-title {
  left: -39.28px;
}
.features__item4-text {
  left: -39.28px;
  top: 115px;
}
.features__item4-btn {
  left: -39.28px;
}

.testimonials__container {
  position: absolute;
  width: 1118px;
  height: 709px;
  left: 242px;
  top: 2789px;
  background: var(--primary-color);
  border-radius: 50px;
}
.testimonials__title {
  position: absolute;
  width: 405px;
  height: 52px;
  left: 93px;
  top: 109px;
  font-family: var(--title-font);
  font-weight: var(--font-bold);
  font-size: var(--h2-font-size);
  line-height: 130%;
  color: var(--body-color);
}
.testimonials__first {
  position: absolute;
  width: 645px;
  height: 330px;
  left: 93px;
  top: 249px;
  background: var(--body-color);
  border-radius: 20px;
}
.testimonials__first-group {
  width: 505px;
  height: 220px;
  left: 70px;
  top: 60px;
}
.testimonials__first-circle, .testimonials__second-circle {
  position: absolute;
  height: 90px;
  width: 90px;
  left: 70px;
  top: 60px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.testimonials__first-order {
  position: absolute;
  height: 50px;
  width: 350px;
  left: 190px;
  top: 80px;
}
.testimonials__first-job-title, .testimonials__second-job-title {
  color: var(--primary-color);
  margin-bottom: var(--mb-20);
}
.testimonials__first-para, .testimonials__second-para {
  font-size: var(--paragraph-font-size);
  line-height: 180%;
}
.testimonials__second {
  position: absolute;
  width: 360px;
  height: 330px;
  left: 758px;
  top: 249px;
  background-image: linear-gradient(to right, white, #9C69E2);
  box-sizing: border-box;
  border-radius: 20px;
}
.testimonials__second-group {
  width: 400px;
  height: 330px;
  left: 70px;
  top: 60px;
}
.testimonials__second-circle {
  left: 40px;
  top: 55px;
}
.testimonials__second-order {
  position: absolute;
  height: 180px;
  width: 180px;
  left: 160px;
  top: 75px;
  overflow: hidden;
}
.testimonials__slide {
  position: absolute;
  width: 55px;
  height: 10px;
  left: 93px;
  top: 639px;
}
.testimonials__slide-dot, .testimonials__slide-dot-active {
  width: 5px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
}
.testimonials__slide-dot-active {
  width: 10px;
  height: 10px;
  background: var(--secondary-color);
}
.testimonials__back, .testimonials__next {
  position: absolute;
  left: 962px;
  top: 637px;
  width: 40px;
  border: transparent;
  background-color: transparent;
}
.testimonials__back-arrow, .testimonials__next-arrow {
  width: 40px;
  height: 14px;
  display: inline-block;
  margin-left: var(--mb-10);
  vertical-align: 2px;
}
.testimonials__back-left-line, .testimonials__next-right-line {
  width: 40px;
  border: solid white;
  border-width: 0 2px 2px 0;
  height: 0px;
  float: right;
  margin-top: 10px;
}
.testimonials__back-left-point, .testimonials__next-right-point {
  transform: rotate(120deg);
  border: solid white;
  border-width: 0 2px 2px 0;
  padding: 3px;
  float: left;
  margin-top: -5px;
}
.testimonials__next {
  left: 1022px;
}
.testimonials__next-arrow {
  width: 20px;
  opacity: 0.5;
}
.testimonials__next-right-line {
  width: 20px;
  float: left;
}
.testimonials__next-right-point {
  transform: rotate(-45deg);
  float: right;
}

.footer__container {
  position: absolute;
  width: 1600px;
  height: 613px;
  left: 0px;
  top: 3648px;
}
.footer__CTA {
  position: absolute;
  width: 405px;
  height: 52px;
  left: 100px;
  top: 100px;
  font-family: var(--title-font);
  font-weight: var(--font-bold);
  line-height: 130%;
}
.footer__CTA-title {
  margin-bottom: 20px;
}
.footer__CTA-learn-btn {
  position: absolute;
  width: 170px;
  height: 60px;
  left: 947px;
  top: 21px;
  color: white;
  background: var(--secondary-color);
  border: transparent;
  border-radius: 50px;
}
.footer__CTA-demo-btn {
  position: absolute;
  width: 210px;
  height: 60px;
  left: 977px;
  top: 21px;
  line-height: 60px;
  background: var(--body-color);
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
}
.footer__logo {
  position: absolute;
  width: 153px;
  height: 30px;
  left: 100px;
  top: 354px;
  font-family: var(--paragraph-font);
  font-weight: var(--font-bold);
  font-size: var(--paragraph-font-size);
  text-decoration: none;
  color: var(--title-color);
}
.footer__address {
  position: absolute;
  width: 240px;
  height: 65px;
  left: 100px;
  top: 451px;
  font-weight: var(--font-semibold);
  font-size: var(--h4-font-size);
  line-height: 180%;
  letter-spacing: 0.01rem;
}
.footer__info {
  position: absolute;
  width: 240px;
  height: 30px;
  left: 100px;
  top: 526px;
  font-weight: var(--font-light);
  font-size: var(--h4-font-size);
  line-height: 180%;
  letter-spacing: 0.01rem;
}
.footer__content {
  position: absolute;
  width: 166px;
  height: 200px;
  top: 361px;
  color: var(--title-color);
}
.footer__content-about-title {
  position: absolute;
  left: 715px;
  font-weight: var(--font-bold);
}
.footer__content-about-links {
  position: absolute;
  left: 715px;
  top: 60px;
  line-height: 40px;
}
.footer__content-help-title {
  position: absolute;
  left: 931px;
  font-weight: var(--font-bold);
}
.footer__content-help-links {
  position: absolute;
  left: 931px;
  top: 60px;
  line-height: 40px;
  padding-bottom: 89px;
}
.footer__social {
  position: absolute;
  width: 178px;
  height: 110px;
  left: 1147px;
  top: 361px;
  color: var(--title-color);
  font-weight: var(--font-bold);
}

.fa {
  padding: 0px;
  line-height: 50px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-top: 30px;
}

.fa-facebook,
.fa-twitter,
.fa-instagram {
  background: #D3D3D3;
  color: var(--body-color);
}

.line {
  border-top: 1px solid #9C69E2;
  opacity: 0.2;
}

:root {
  --header-height: 3.75rem;
  /* Colors */
  --title-color: rgb(33, 35, 83);
  --paragraph-color: rgb(75, 93, 104);
  --body-color: rgb(255, 255, 255);
  --primary-color: rgb(156, 105, 226);
  --secondary-color: rgb(240, 99, 184);
  --secondary-color-lighten: rgb(251, 215, 237);
  --decorative-container-color: rgb(104, 201, 186);
  --alternative-container-color: rgb(45, 156, 219);
  /* Font and Typography */
  --title-font: "Helvetica", sans-serif;
  --paragraph-font: "Avenir", sans-serif;
  --h1-font-size: 5rem;
  --h2-font-size: 2.5rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1rem;
  --paragraph-font-size: 1.125rem;
  /* Font Weight */
  --font-bold: 700;
  --font-semibold: 500;
  --font-light: 400;
  --mb-10: 1rem;
  --mb-20: 1.25rem;
}

/*# sourceMappingURL=styles.css.map */
